<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/whyable-color.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Wireframe and Utlities for MEAN Applications
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary " href="/docs" target="_blank">View API Documentation</a>
        <a class="btn btn-primary " href="/release" target="_blank">View Release Notes</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Congrats! You've configured and run the sample application.</h2>
    <hr>
    <p>This is a web application boilerplate, which means you should start changing everything.</p>
    <p></p>
    <ul class="list-group">
      <li class="list-group-item">This sample application tracks users and articles. Click on 'Sign Up' and start exploring.</li>
      <li class="list-group-item">
        <p class="text-info">
        {{'I18N_INTRO' | translate}}
        </p>
        <br>
        <strong>View above sentence in </strong> : <span ng-translate-language-select></span>
      </li>
      <li class="list-group-item"></li>
      <li class="list-group-item"><a href="https://daneden.github.io/animate.css/" target="_blank">Animation CSS is included.</a></li>
      <li class="list-group-item">Click on release notes, or view code repository for detailed information.</li>
    </ul>
  </div>
  <br>Live Long and Prosper,
  <br>Whyable Dev Team.
</section>
