@import "variables";

.navbar-inverse {
  background: teal;
  .navbar-nav > li > a {
    color: $white;
  }
}

.navbar-brand {
  img{
    max-width: 48px;
    max-height: 48px;
    position: relative;
    top:-11px;
  }
}
